
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../../css/bootstrap.css" rel="stylesheet">
 	<link href="../../../css/bootstrap.min.css" rel="stylesheet">


	<link href="../../static/ncdatalinc/bootstrap-multiselect.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
	
	 <script type="text/javascript" src="../../static/ncdatalinc/Charts/FusionCharts.js"></script>
<script type="text/javascript" src="../../static/ncdatalinc/Charts/FusionCharts.HC.js"></script>
<script type="text/javascript" src="../../static/ncdatalinc/Charts/FusionCharts.HC.Charts.js"></script>
<script type="text/javascript" src="../../static/ncdatalinc/Charts/jquery.min.js"></script>

  </head>

  <body>

    <style>
	#thumbs{
		padding-top:50px;
	}
	#selectDiv{
		padding-top:50px;
	}

	#countySelect{
		width:50%;
	}

	#dropdown-restrict{
		max-height: 200px;
	    overflow: auto;
	}

	</style>

	<body>
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<nav class="navbar navbar-default navbar-inverse" role="navigation">
					<div class="navbar-header">
						 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="../../../index.html"><img src="../../../img/logo2.png"></img></a>

					</div>

					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li>
								<span class="badge">1300 DATASETS AVAILABLE</span>
							</li>
							<li >
								<a href="../../../index.html">HOME</a>
							</li>
							<li>
								<a href="" data-target="#aboutUsModal" data-toggle="modal">ABOUT US</a>
							</li>
							<li>
								<a href="" data-target="#helpModal" data-toggle="modal">HELP</a>
							</li>
							<li class="dropdown">
			                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">CONTACT SDC AFFILIATES<b class="caret"></b></a>
			                  <ul class="dropdown-menu" id="dropdown-restrict">
								<li class="divider"></li>
			                    <li class="dropdown-header">A-C</li>
			                    <li><a data-target="#alexanderModal" data-toggle="modal">Alexander</a></li>
			                    <li><a data-target="#alexanderModal" data-toggle="modal">Avery</a></li>
								<li><a data-target="#alexanderModal" data-toggle="modal">Beaufort</a></li>
			                    <li><a data-target="#alexanderModal" data-toggle="modal">Bertie</a></li>
								<li><a data-target="#alexanderModal" data-toggle="modal">Caldwell</a></li>
			                    <li><a data-target="#alexanderModal" data-toggle="modal">Camden</a></li>

			                    <li class="divider"></li>
			                    <li class="dropdown-header">D-F</li>
			                    <li><a data-target="#alexanderModal" data-toggle="modal">Dare</a></li>
			                    <li><a data-target="#alexanderModal" data-toggle="modal">Davidson</a></li>
			                    <li><a data-target="#alexanderModal" data-toggle="modal">EdgeCombe</a></li>
								<li><a data-target="#alexanderModal" data-toggle="modal">Forsyth</a></li>
			                    <li><a data-target="#alexanderModal" data-toggle="modal">Franklin</a></li>

								<li class="divider"></li>
			                    <li class="dropdown-header">G-J</li>
			                    <li><a data-target="#alexanderModal" data-toggle="modal">Gaston</a></li>
			                    <li><a data-target="#alexanderModal" data-toggle="modal">Gates</a></li>
			                    <li><a data-target="#alexanderModal" data-toggle="modal">Henderson</a></li>
								<li><a data-target="#alexanderModal" data-toggle="modal">Hyde</a></li>
			                    <li><a data-target="#alexanderModal" data-toggle="modal">Jackson</a></li>
								<li><a data-target="#alexanderModal" data-toggle="modal">Jones</a></li>

								<li class="divider"></li>
			                    <li class="dropdown-header">K-N</li>
			                    <li><a data-target="#alexanderModal" data-toggle="modal">Lee</a></li>
			                    <li><a data-target="#alexanderModal" data-toggle="modal">Lincoln</a></li>
			                    <li><a data-target="#alexanderModal" data-toggle="modal">Madison</a></li>
								<li><a data-target="#alexanderModal" data-toggle="modal">Martin</a></li>
			                    <li><a data-target="#alexanderModal" data-toggle="modal">Nash</a></li>
								<li><a data-target="#alexanderModal" data-toggle="modal">New Hanover</a></li>

								<li class="divider"></li>
			                    <li class="dropdown-header">O-S</li>
			                    <li><a data-target="#alexanderModal" data-toggle="modal">Onslow</a></li>
			                    <li><a data-target="#alexanderModal" data-toggle="modal">Orange</a></li>
			                    <li><a data-target="#alexanderModal" data-toggle="modal">Pit</a></li>
								<li><a data-target="#alexanderModal" data-toggle="modal">Polk</a></li>
			                    <li><a data-target="#alexanderModal" data-toggle="modal">Randolph</a></li>
								<li><a data-target="#alexanderModal" data-toggle="modal">Rutherford</a></li>
								<li><a data-target="#alexanderModal" data-toggle="modal">Scotland</a></li>
								<li><a data-target="#alexanderModal" data-toggle="modal">Stanley</a></li>

								<li class="divider"></li>
			                    <li class="dropdown-header">T-W</li>
			                    <li><a data-target="#alexanderModal" data-toggle="modal">Tyrell</a></li>
			                    <li><a data-target="#alexanderModal" data-toggle="modal">Transylvania</a></li>
			                    <li><a data-target="#alexanderModal" data-toggle="modal">Washington</a></li>
								<li><a data-target="#alexanderModal" data-toggle="modal">Wayne</a></li>


								<li class="divider"></li>
			                    <li class="dropdown-header">X-Z</li>
			                    <li><a data-target="#alexanderModal" data-toggle="modal">Yadkin</a></li>
			                    <li><a data-target="#alexanderModal" data-toggle="modal">Yancy</a></li>


			                  </ul>
			                </li>

								 <li class="dropdown">
					                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">NC DATA SERVICE PUBLIC WEBSITES<b class="caret"></b></a>
					                  <ul class="dropdown-menu">
					                    <li><a href="#">LINC- Log into North Carolina</a></li>
					                    <li><a href="http://www.osbm.state.nc.us/ncosbm/facts_and_figures/socioeconomic_data/census_lookup.shtm" target="_blank">Census Lookup - 2000 Census</a></li>
					                    <li><a href="http://www.osbm.state.nc.us/ncosbm/facts_and_figures/socioeconomic_data/census_home.shtm" target="_blank">Census Home - All Census Data</a></li>
										<li><a href="http://www.osbm.state.nc.us/ncosbm/facts_and_figures/socioeconomic_data/population_estimates.shtm" target="_blank">State Demographics - Estimates/Projections</a></li>

										<li><a href="http://www.osbm.state.nc.us/ncosbm/facts_and_figures/state_data_center.shtm" target="_blank">State Data Center - Directory Info</a></li>

					                  </ul>
					                </li>


						</ul>




					</div>

				</nav>
				</div>
				</div>
				</div>

   <div class="container">
   <div class="well"><h2> Energy and Utilities</h2></div>
   </div>
   <div class="container">
   <div class="row">
		  <div class="col-md-3"><b>You are seeing</b></div>
		  <div class="col-md-3"><b>Category</b></div>
	      <div class="col-md-3"><b>Year(s)</b></div>
		  <div class="col-md-2"><b>County</b> </div>
		  <div class="col-md-1"> &nbsp; &nbsp; <b> And</b></div>
		  
   </div>
   </div>
  
	   <div class="container">
      <div class="row">
	  
	  <div class="col-md-3">
			<div class="list-group">
		<a href="#" class="list-group-item active">
    Energy Production and Consumption
  </a>
  <a href="page3.html" class="list-group-item">Specific Utilities</a>
</div>
	  </div>
      <div class="col-md-3">
	  <!-- Build your select: -->
				<select class="multiselect" multiple="multiple" id="category">
			  <option value="cat1">Yr-Rd Housing Units with Steam/Hot Water Heating Equip</option>
			  <option value="cat2">Yr-Rd Housing Units w/ Fireplace, Stove, or Rm Heaters</option>
			</select>
	  </div>
	  <div class="col-md-3">
		<select class="multiselect" multiple="multiple" id="year">
			  <option value="2010">2010</option>
			  <option value="2011">2011</option>
			</select>
	  </div>
	  <div class="col-md-2">
			<select class="multiselect" multiple="multiple" id="county">
			  <option value="wake">Wake</option>
			  <option value="greene">Greene</option>  
			</select>
	  </div>
	  <div class="col-md-1">&nbsp; &nbsp; 
	  <button  type="button" class="btn btn-success showtable">Go</button>
	 
	  </div>
	  </div>
	  </div>
	 
	  <div class="container">
	  <div class="row">
	  <div class="col-md-3"> <button type="button" id="graphbutton" class="btn btn-success" onclick="display_graph()">View Graph</button><br><br><button type="button" id="tablebutton" class="btn btn-success showtable">Tabular View</button></div>
	  <div class="col-md-9">
	  <div id="chartContainer"></div>   
	  <div id="chartContainer1"></div> 
	  <div id="tableContainer"></div>
	  </div>
		</div>
		</div>
    <script type="text/javascript">
		
   
		function display_graph(){
		   var myChart = new FusionCharts( "../../static/ncdatalinc/Charts/MSStackedColumn2D.swf", 
                    "myChartId", "700", "600", "0" );
					var myChart1 = new FusionCharts( "../../static/ncdatalinc/Charts/MSStackedColumn2D.swf", 
                    "myChartId", "700", "600", "0" );
		var category_selection = document.getElementById("category").options;
		var year_selection = document.getElementById("year").options;
		var county_selection = document.getElementById("county").options;
		$( "#chartContainer" ).empty();
		$( "#chartContainer1" ).empty();
		$('#tableContainer').empty();
		
		if(category_selection[0].selected)
		{
			if(year_selection[0].selected && year_selection[1].selected && county_selection[0].selected && county_selection[1].selected)
			myChart.setXMLUrl("data1.xml");
			else if(year_selection[0].selected && year_selection[1].selected && county_selection[0].selected && !county_selection[1].selected)
			myChart.setXMLUrl("data2.1.xml");
			else if(year_selection[0].selected && year_selection[1].selected && !county_selection[0].selected && county_selection[1].selected)
			myChart.setXMLUrl("data2.2.xml");
			else if(year_selection[0].selected && !year_selection[1].selected && county_selection[0].selected && county_selection[1].selected)
			myChart.setXMLUrl("data3.1.xml");
			else if(!year_selection[0].selected && year_selection[1].selected && county_selection[0].selected && county_selection[1].selected)
			myChart.setXMLUrl("data3.2.xml");
			else if(year_selection[0].selected && !year_selection[1].selected && county_selection[0].selected && !county_selection[1].selected)
			myChart.setXMLUrl("data4.1.xml");
			else if(year_selection[0].selected && !year_selection[1].selected && !county_selection[0].selected && county_selection[1].selected)
			myChart.setXMLUrl("data4.2.xml");
			else if(!year_selection[0].selected && year_selection[1].selected && county_selection[0].selected && !county_selection[1].selected)
			myChart.setXMLUrl("data4.3.xml");
			else if(!year_selection[0].selected && year_selection[1].selected && !county_selection[0].selected && county_selection[1].selected)
			myChart.setXMLUrl("data4.4.xml");
			myChart.render("chartContainer"); 
		}
		if(category_selection[1].selected)
		{
			if(year_selection[0].selected && year_selection[1].selected && county_selection[0].selected && county_selection[1].selected)
			myChart1.setXMLUrl("datacat2_1.xml");
			else if(year_selection[0].selected && year_selection[1].selected && county_selection[0].selected && !county_selection[1].selected)
			myChart1.setXMLUrl("datacat2_2.1.xml");
			else if(year_selection[0].selected && year_selection[1].selected && !county_selection[0].selected && county_selection[1].selected)
			myChart1.setXMLUrl("datacat2_2.2.xml");
			else if(year_selection[0].selected && !year_selection[1].selected && county_selection[0].selected && county_selection[1].selected)
			myChart1.setXMLUrl("datacat2_3.1.xml");
			else if(!year_selection[0].selected && year_selection[1].selected && county_selection[0].selected && county_selection[1].selected)
			myChart1.setXMLUrl("datacat2_3.2.xml");
			else if(year_selection[0].selected && !year_selection[1].selected && county_selection[0].selected && !county_selection[1].selected)
			myChart1.setXMLUrl("datacat2_4.1.xml");
			else if(year_selection[0].selected && !year_selection[1].selected && !county_selection[0].selected && county_selection[1].selected)
			myChart1.setXMLUrl("datacat2_4.2.xml");
			else if(!year_selection[0].selected && year_selection[1].selected && county_selection[0].selected && !county_selection[1].selected)
			myChart1.setXMLUrl("datacat2_4.3.xml");
			else if(!year_selection[0].selected && year_selection[1].selected && !county_selection[0].selected && county_selection[1].selected)
			myChart1.setXMLUrl("datacat2_4.4.xml");
			
			myChart1.render("chartContainer1");  
		}
     // myChart.setXMLUrl("datacat2_4.4.xml");

          

		}
     
    </script>   
	 
   <script>
   $('.showtable').click(function(){
   
		$( "#chartContainer" ).empty();
		$( "#chartContainer1" ).empty();
		$('#tableContainer').empty();
		$('#graphbutton').show();
		$('#tablebutton').show();
		
		var category_selection = document.getElementById("category").options;
		var year_selection = document.getElementById("year").options;
		var county_selection = document.getElementById("county").options;
			var data_array = [
			{"category": "Yr-Rd Housing Units with Steam/Hot Water Heating Equipment", "year": "2010", "county":"Wake", "name":"Tank LP Heat","value":"16588"},
			{"category": "Yr-Rd Housing Units with Steam/Hot Water Heating Equipment", "year": "2010", "county":"Wake", "name":"Unit Steam Heat","value":"5076"},
			{"category": "Yr-Rd Housing Units with Steam/Hot Water Heating Equipment", "year": "2011", "county":"Wake", "name":"Tank LP Heat","value":"15384"},
			{"category": "Yr-Rd Housing Units with Steam/Hot Water Heating Equipment", "year": "2011", "county":"Wake", "name":"Unit Steam Heat","value":"3890"},
			{"category": "Yr-Rd Housing Units with Steam/Hot Water Heating Equipment", "year": "2010", "county":"Greene", "name":"Tank LP Heat","value":"18075"},
			{"category": "Yr-Rd Housing Units with Steam/Hot Water Heating Equipment", "year": "2010", "county":"Greene", "name":"Unit Steam Heat","value":"3048"},
			{"category": "Yr-Rd Housing Units with Steam/Hot Water Heating Equipment", "year": "2011", "county":"Greene", "name":"Tank LP Heat","value":"16387"},
			{"category": "Yr-Rd Housing Units with Steam/Hot Water Heating Equipment", "year": "2011", "county":"Greene", "name":"Unit Steam Heat","value":"4990"},
			{"category": "Yr-Rd Housing Units with Fireplace, Stove or Rm Heaters", "year":"2010", "county":"Wake" , "name":"Fire Room Heat","value":"17948"},	
			{"category": "Yr-Rd Housing Units with Fireplace, Stove or Rm Heaters", "year":"2011", "county":"Wake" , "name":"Fire Room Heat","value":"18287"},	
			{"category": "Yr-Rd Housing Units with Fireplace, Stove or Rm Heaters", "year":"2010", "county":"Greene" , "name":"Fire Room Heat","value":"15196"},	
			{"category": "Yr-Rd Housing Units with Fireplace, Stove or Rm Heaters", "year":"2011", "county":"Greene" , "name":"Fire Room Heat","value":"16545"}
			];
			
			var rows_to_take = [0,0,0,0,0,0,0,0,0,0,0,0];
			if(category_selection[0].selected && year_selection[0].selected && county_selection[0].selected)
			{
				rows_to_take[0]=1;
				rows_to_take[1]=1;
			}
			if(category_selection[0].selected && year_selection[1].selected && county_selection[0].selected)
			{
				rows_to_take[2]=1;
				rows_to_take[3]=1;
			}
			if(category_selection[0].selected && year_selection[0].selected && county_selection[1].selected)
			{
				rows_to_take[4]=1;
				rows_to_take[5]=1;
			}
			if(category_selection[0].selected && year_selection[1].selected && county_selection[1].selected)
			{
				rows_to_take[6]=1;
				rows_to_take[7]=1;
			}
			if(category_selection[1].selected && year_selection[0].selected && county_selection[0].selected)
			{
				rows_to_take[8]=1;
			}
			if(category_selection[1].selected && year_selection[1].selected && county_selection[0].selected)
			{
				rows_to_take[9]=1;
			}
			if(category_selection[1].selected && year_selection[0].selected && county_selection[1].selected)
			{
				rows_to_take[10]=1;
			}
			if(category_selection[1].selected && year_selection[1].selected && county_selection[1].selected)
			{
				rows_to_take[11]=1;
			}
			
			var thead = "<table class='table' border='1'><th> Category</th><th>Year</th><th>County</th><th>Property</th><th>Value</th>";
			var tbody='';
			for(var i=0; i<data_array.length ; i++)
			{
			
				if(rows_to_take[i]==1)
				{
				tbody += "<tr>";
				tbody += "<td>";
				tbody += data_array[i].category;
				tbody += "</td>";
				tbody += "<td>";
				tbody += data_array[i].year;
				tbody += "</td>";
				tbody += "<td>";
				tbody += data_array[i].county;
				tbody += "</td>";
				tbody += "<td>";
				tbody += data_array[i].name;
				tbody += "</td>";
				
				if(parseInt(data_array[i].value)<6000)
				tbody += "<td bgcolor='yellow'>";
				else 
				tbody += "<td bgcolor='orange'>";
				tbody += data_array[i].value;
				tbody += "</td>";
				tbody += "</tr>";
				}
			}
			var tfooter = "</table>";
			var legend = "<div><b>Legend</b><table><tr><td bgcolor='yellow'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td> Heat Production less than 6000</td></tr><tr><td bgcolor='orange'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td> Heat Production greater than 6000</td></tr></table></div>";
			document.getElementById('tableContainer').innerHTML = thead + tbody + tfooter+ legend;
		
		});
   </script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../../static/ncdatalinc/bootstrap.min.js"></script>
	<script src="../../static/ncdatalinc/bootstrap-multiselect.js"></script>
	
	
	<!-- Initialize the plugin: -->
<script type="text/javascript">
  $(document).ready(function() {
    $('.multiselect').multiselect({
	buttonWidth: '200px'
	});
	
	$('#graphbutton').hide();
	$('#tablebutton').hide();
  });
</script>



<!-- Modal Windows -->

<!-- Help Modal-->
<!-- Modal -->
<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">HELP</h4>
      </div>
      <div class="modal-body">
       
		<h1>Getting Started</h1>

			Getting reports from LINC: <br/> <br/>
			1.	Category Report: Choose a category from the tiles on the home page. You can find the specific data for a county from a particular year by making appropriate selections. You can select multiple counties and years as well.<br/>
			View Graph: Choose this option if you want to view the data as a graph.<br/>
			Tabular View: Choose this option if you want to view the data in a table. <br/><br/>
			2.	User Stories: Click on the Read More button on a user story to get all data items related to that particular user story. <br/> <br/> 
			3.	Interesting Facts: You can view the interesting facts about a category and can click on Read More button to get more interesting facts about that category.
		

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--End of Help Modal-->

<!-- About us Modal-->
<!-- Modal -->
<div class="modal fade" id="aboutUsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">LINC</h4>
      </div>
      <div class="modal-body">
       	<h1>What is Log Into North Carolina (LINC)?</h1>

		Log Into North Carolina is an interactive data retrieval service containing historical information for over 900 data items and a variety of geographic areas within the state.<br/><br/>

		Most data are available for the state and all 100 counties. Some items are available for municipalities. Others, especially census data, may be retrieved for tracts and townships.<br/><br/>

		There is a definition for each data item to give the user some understanding of what the data mean. Other metadata provide information on the source and frequency of the information.<br/><br/>

		Reports may be viewed through your browser, printed, or saved as html files for loading into a spreadsheet. For example: Click in the report frame. From the file menu, choose "Save As...," and save as an html (.html) file. Open the htm file in Excel.<br/><br/>

		Begin by selecting at least one geographic area in the left frame and then clicking Continue. The status bar below will reflect your choices as you proceed. 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--End of About us Modal-->

<!-- County Contact Modal -->
<div class="modal fade" id="alexanderModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Contact details</h4>
      </div>
      <div class="modal-body">
        ALEXANDER COUNTY<br/>
		Forsyth County Public Library<br/>
		Mr. William H. King<br/>
		660 West 5th Street<br/>
		Winston-Salem, NC 27101<br/>
		(336) 727-2220	<br/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--End of County Contact Modal-->

<!--End of Modal Windows-->




  </body>
</html>
